<h3>Satellite Counts:</h3>
<div class="counts" ><span  >{{counts(satellite)}}</span>
   <div>Total: <span id = 'total'>{{satellites.length}}</span></div>
   <div>Space Debris: <span [innerHTML]="spaceDebris" #debris ></span></div>
   <div>Communication: <span [innerHTML]="communication"></span></div>
   <div>Probe: <span [innerHTML]="probe"></span></div>
   <div>Positioning: <span [innerHTML]="positioning"></span></div>
   <div>Space Station: <span [innerHTML]="spaceStation"></span></div>
   <div>Telescope: <span  [innerHTML]="telescope"></span></div>
</div>
 